BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 125
AccessModifierOffset: -4
NamespaceIndentation: Inner
Cpp11BracedListStyle: false
AlwaysBreakTemplateDeclarations: Yes

SortIncludes: CaseSensitive
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<gtest/'
    Priority: 0
    SortPriority: 0
    CaseSensitive: true

  - Regex: '^[<"]soupbin/'
    Priority: 1
    SortPriority: 1
    CaseSensitive: true

  - Regex: '^"common/'
    Priority: 2
    SortPriority: 2
    CaseSensitive: true

  - Regex: '^"'
    Priority: 3
    SortPriority: 3
    CaseSensitive: true

  - Regex: '^<[^.]*>$'
    Priority: 4
    SortPriority: 4
    CaseSensitive: true

  - Regex: '^<.*\.h>$'
    Priority: 5
    SortPriority: 5
    CaseSensitive: true

  - Regex: '.*'
    Priority: 6
    SortPriority: 6
    CaseSensitive: true
