BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 125
AccessModifierOffset: -4
Cpp11BracedListStyle: false
AlwaysBreakTemplateDeclarations: Yes

SortIncludes: CaseSensitive
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<gtest/'
    Priority: 0

  - Regex: '^[<"]soupbin/'
    Priority: 10

  - Regex: '^"detail/'
    Priority: 20

  - Regex: '^"server\.hpp"$'
    Priority: 30

  - Regex: '^"common/'
    Priority: 40

  - Regex: '^"'
    Priority: 50

  - Regex: '^<[^.]*>$'
    Priority: 60

  - Regex: '^<.*\.h>$'
    Priority: 70

  - Regex: '.*'
    Priority: 80
